body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-image: linear-gradient(to right, lightblue, blue);
    text-align: center;
}

header h1 {
    font-size: 60px;
    color: white;
}

form {
    border-bottom: 3px solid black;
}


